---
import { t } from '../utils/i18n';
const strings = t(Astro.url);
---

<span class="text-[10px] font-semibold px-2 py-0.5 rounded-full bg-dusk-amber/10 text-dusk-amber">
  {strings.common.comingSoon}
</span>
